# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Environment
.env
.env.*
!.env.example

# Django
backend/media/
backend/static/
backend/db.sqlite3

# Node
node_modules/
dist/
build/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
